body {
    margin: 20px, 10px, 20px, 10px;
    font-family:'Trebuchet MS';
    font-size: 10vw 10vh;
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("https://i.pinimg.com/736x/22/d7/36/22d7365744df8982eae7f0c8f34e1ff5.jpg");
}

h1, marquee, p {
  border-width: 0.5w 0.5vh;
  border-color: #fff2b2;
  border-style: ridge;
  background-color: #fffce8;
  color: #000000;
  text-align: center;
  font-family: 'Trebuchet MS';
}

img {
  display: block;
  margin: 20px auto;
  background-color: #fff2b2;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  height: auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

img:hover {
  box-shadow: 0 0 20px lightblue, 0 0 30px rgb(20, 122, 255);
  transform: scale(1.05);
}

